#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin-top: 60px;
    font-size: 13px;
    line-height: 1.5;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    max-width: 800px;
    display: block;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
aside {
    width: 150px;
    position: sticky;
    top: 0;
    padding-right: 15px;
    float: left;
}
aside ul {
    list-style: none;
    margin: 0 0 20px;
    padding: 0;
}
aside ul li {
    padding: 8px 0;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
aside ul li.tabSelected {
    background: #ccc;
}
.main {
    padding-left: 180px;
}
.order-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}
.order-item p{
    margin: 0px auto;
}
.DELIVERED {
    border: 2px solid rgb(0, 47, 255);
}
.DRIVER_RECEIVED {
    border: 2px solid rgb(38, 255, 0);
}
.CANCELLED {
    border: 2px solid #e5ff00;
}
.COOKED {
    border: 2px solid rgb(253, 0, 0);
}
.CREATED {
    border: 2px solid rgb(0, 245, 253);
}
.All {
    border: 2px solid rgb(0, 0, 0);
}

.flowR {
    float: right;
}
.flowL {
    float: left;
}
.clear {
    clear: both;
}
#pagination{
    display: flex;
    width:100%;
    justify-content:space-around;
    align-items:flex-start;
}
.page{
    list-style: none;
    padding:0;
    margin:0;
}
.page li{
    float:left;
    min-width:30px;
    height:30px;
    border:1px solid #e6e6e6;
    border-radius: 5px;
    line-height: 32px;
    text-align: center;
    color:rgb(182, 179, 179);
    cursor:pointer;
    margin: 2px;
}
.page li b{
    color: #000000;
}

.page li:first-of-type,.page li:last-of-type{
    padding:0 5px;
}

.page li:first-of-type{
    margin-right:20px;
}

.page li:last-of-type{
    margin-left:20px;
}

.page li::selection {
    background-color: transparent;
}

.active{
    color:#fff !important;
    background: #54b0bd;
    border-color:#54b0bd !important;
}


