/*
  A stylesheet customizing app (custom renderers)
*/
div, span, a, p, h1, h2, h3, h4, h5, h6 {
  font-family: "Titillium-regular", Arial, Helvetica, sans-serif;
}
.handSontabletest{
   margin-top: 40px;
}

table.htCore .star {
  color: #fcb515;
}

table.htCore tr.odd td {
  background: #fafbff;
}

table.htCore td .progressBar {
  background: #37bc6c;
  height: 10px;
}

table.htCore tr.selected td {
  background: #edf3fd;
}

/*
  A stylesheet customizing Handsontable style
*/

.handsontable {
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
}

.collapsibleIndicator {
  text-align: center;
}

.handsontable th div.ht_nestingButton {
  /* margin: 0px 0;
  color: red;
  width: 0px;
  height: 0px;
  border-right: 25px solid transparent;
  border-bottom: 157px solid red;
  border-left: 41px solid transparent;
  transform: rotate(35deg); */
}

.handsontable th div.ht_nestingButton:before {
  /* border-bottom: 80px solid red;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  transform: rotate(-35deg); 
  content: "\f131";
  content: 'v';*/
}

.handsontable th div.ht_nestingButton:after {
  /* position: absolute;
  display: block;
  color: red;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid red;
  border-left: 100px solid transparent; 
  transform: rotate(-70deg);
  content: "\f12f"; 
  content: '>';*/
}

.handsontable .ht_nestingParent ~ td {
  background: #ffcc66;
  /* color: #222; */
}

.handsontable .myRow {
  background: #c5d8f7;
}
.handsontable .myErase {
  background: #fff;
}

.myBt {
  width: 99%;
  height: 100%;
  background: #27C2FF;
  box-sizing: border-box;
  text-align: center;
  border-width: 0;
}

.handsontable .truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.handsontable .indent-1 {
  padding-left: 0px;
}
.handsontable .indent-2 {
  padding-left: 30px;
}
.handsontable .indent-3 {
  padding-left: 60px;
}
.handsontable .indent-4 {
  padding-left: 90px;
}
.handsontable .indent-5 {
  padding-left: 120px;
}
.handsontable .indent-6 {
  padding-left: 150px;
}
.handsontable .indent-7 {
  padding-left: 180px;
}
.handsontable .indent-8 {
  padding-left: 210px;
}